:root {
  --default-spacing: 1em;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

img {
  width: 100%
}

th, td {
  padding-inline: var(--default-spacing);
  text-align: left
}

tr:nth-child(even) {
  background-color: lightgrey;
}